.projects {
  padding: 32px 0;
}

.projectsTitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0a0a0a;
  margin: 0 0 8px;
}

.projectsMainText {
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #717182;

  max-width: 329px;
  margin: 0 auto 26px;
}

/* list */
.projectsList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 26px;
}

.projectCard {
  display: grid;
  gap: 20px;
}

.projectMedia {
  border-radius: 16px;
  overflow: hidden;
  box-shadow:
    0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.projectImg {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* body */
.projectTitle {
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #b45a78;
}
.projectTitle:hover,
.projectTitle:active {
  color: #8b2948ee;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projectSubtitle {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #717182;
}

.projectText {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: -0.02em;
  color: rgba(10, 10, 10, 0.8);
}

.projectBody {
  order: 1;
}

.projectMedia {
  order: 2;
}

.projectsBadge {
  display: none;
}

.projectTags {
  display: none;
}

@media only screen and (min-width: 1179px) {
  .projectsTitle {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 31px;
  }

  .projectsMainText {
    max-width: 657px;
    margin-bottom: 56px;
  }

  .projectsList {
    gap: 64px;
  }

  .projectCard {
    grid-template-columns: 550px 1fr;
    align-items: start;
    gap: 32px;
  }

  .projectBody {
    order: 2;
  }

  .projectMedia {
    order: 1;
  }

  .projectImg {
    height: 310px;
    object-fit: cover;
  }

  .projectCardReverse {
    grid-template-columns: 1fr 550px;
  }

  .projectCardReverse .projectMedia {
    order: 2;
  }

  .projectCardReverse .projectBody {
    order: 1;
  }

  .projectTitle {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
  }

  .projectsBadge {
    display: inline-block;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: -0.01em;
    color: #2d2d2d;
    background-color: rgba(244, 165, 185, 0.1);
    border: none;
    border-radius: 16777200px;
    margin-bottom: 23px;
  }

  .projectTags {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .projectTag {
    display: inline-flex;
    align-items: center;
    padding: 5px 13px;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 16777200px;
    color: #717182;
    background-color: #fffbf8;
  }
}
