.hero {
  padding: 78px 0;
  border-bottom: 1px solid rgba(255, 142, 225, 0.4);
}

.heroContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 34px;
}

.heroTextContainer {
  text-align: center;
}

.heroBadge {
  display: inline-block;
  padding: 9px 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: -0.01em;
  color: #2d2d2d;
  background-color: rgba(244, 165, 185, 0.1);
  border: 1px solid rgba(244, 165, 185, 0.2);
  border-radius: 16777200px;
  margin-bottom: 20px;
}

.heroTitle {
  font-weight: 400;
  font-size: 34px;
  line-height: 1.17647;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  color: #0a0a0a;
}

.heroEmojiWave {
  display: none;
}

.heroText {
  font-size: 18px;
  max-width: 326px;
  color: #717182;
}

.heroButtonsContainer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: -0.01em;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.heroArrowRight {
  stroke: #0a0a0a;
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.btnProjects {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  margin-bottom: 16px;
  padding: 14px 16px;
  color: #2d2d2d;
  background-color: #f4a5b9;
  border: none;
  border-radius: 21911200px;
  min-width: 204px;
  min-height: 47px;
}

.btnProjects:hover,
.btnProjects:active {
  background-color: #ee91a8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnContact {
  padding: 14px 33px;
  color: #0a0a0a;
  background-color: #fffbf8;
  border: 2px solid rgba(244, 165, 185, 0.3);
  border-radius: 21911200px;
  min-width: 199px;
  min-height: 51px;
}

.btnContact:hover,
.btnContact:active {
  background-color: #fffbf842;
  border: 1.96px solid rgba(243, 145, 169, 0.3);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1179px) {
  .hero {
    padding: 130px 0 86px;
    position: relative;
    overflow: hidden;
    border-bottom: none;
  }

  .heroContainer {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 672px;
  }

  .hero::before,
  .hero::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    pointer-events: none;
  }

  .hero::before {
    top: 120px;
    left: 380px;
    width: 384px;
    height: 354px;
    background-color: rgba(255, 142, 225, 0.42);
  }

  .hero::after {
    top: 100px;
    right: 400px;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 142, 225, 0.42);
  }

  .heroBadge {
    margin-bottom: 24px;
  }

  .heroTitle {
    font-size: 60px;
    line-height: 1.125;
    letter-spacing: 0em;
    margin-bottom: 24px;
    padding-right: 5px;
  }

  .heroEmojiWave {
    display: inline-block;
    white-space: nowrap;
  }

  .heroText {
    font-size: 24px;
    max-width: 576px;
    line-height: 1.625;
    letter-spacing: 0em;
  }

  .heroButtonsContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .btnProjects {
    margin-bottom: 0;
  }

  .btnContact {
    background-color: #fffbf8;
  }
}
