.about {
  padding: 32px 0;
  /* background-color: rgba(245, 239, 233, 0.3); */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(245, 239, 233, 0.3) 80%
  );
}

.aboutTitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0a0a0a;
  margin-bottom: 50px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.aboutPhoto {
  position: relative;
  isolation: isolate;
  width: 100%;
  max-width: 248px;
  margin: 0 auto;
}

.aboutPhoto::before {
  content: "";
  position: absolute;
  z-index: -1;

  top: -20px;
  left: -43px;
  width: 367px;
  height: 367px;

  background-color: rgba(255, 142, 225, 0.42);
  filter: blur(35px);
  border-radius: 0;
}

.aboutImg {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.aboutText {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: -0.02em;
  color: #717182;
  margin-bottom: 16px;
}

.aboutSubtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #0a0a0a;
  margin: 0 0 16px;
}

/* ===== SKILLS ===== */
.skills {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 16px;
}

.skillTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 1.42;
  letter-spacing: -0.01em;
  color: #0a0a0a;
}

.skillBar {
  height: 8px;
  background: #f5efe9;
  border-radius: 21911200px;
  overflow: hidden;
}

.skillFill {
  width: var(--val, 0%);
  display: block;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(244, 165, 185) 0,
    rgba(199, 179, 229, 0.8) 100%
  );
  border-radius: 21911200px;
}

.desktopOnly {
  display: none;
}

@media only screen and (min-width: 1179px) {
  .about {
    padding: 32px 0 46px;

    background: rgba(252, 250, 249, 1);
  }

  .aboutTitle {
    font-size: 48px;
    margin-bottom: 71px;
  }

  .aboutContent {
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
  }

  .aboutImg {
    width: 360px;
    max-width: 100%;
    border-radius: 8px;
  }

  .aboutPhoto,
  .aboutInfo {
    flex: 1 1 0;
    min-width: 0;
  }

  .aboutPhoto {
    max-width: none;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .aboutPhoto::before {
    top: -40px;
    left: 20px;
    width: 500px;
    height: 540px;
  }

  .aboutText {
    margin-bottom: 40px;
    max-width: none;
  }

  .desktopOnly {
    display: grid;
  }
}
