*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0em;
  color: #171832;

  position: relative;
  background: #fff;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(199, 179, 229, 0.2);
  filter: blur(128px);
  opacity: 0.78;

  z-index: -1;
  pointer-events: none;
}

h2 {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.container {
  /* min-width: 320px; */
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 24px;
}

@media only screen and (min-width: 1179px) {
  .container {
    max-width: 1179px;
  }
}
